.about{
    background-color: $secondary-background-color;
    padding: 40px;
   
}

.accent-title{
    text-transform: uppercase;
    color:$accent-background-color;
    font-family: $main-font;
    font-size: 8px;
    font-weight: 400;
}

.about__title{
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1;
}
.about__text-item{
    margin-top: 20px;
}
.read-more{
    display: flex;
    // justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
text-transform: uppercase;
    color: $accent-background-color;
    font-family: $main-font;
    font-size: 8px;
    font-weight: 400;
    padding: 0;
        border: none;
        background-color: transparent;
cursor: pointer;

    // переписать медиаправило через JS 
    @media (min-width: 768px) {
            display: none}

     &:hover,
     &:focus{
     font-weight: 700;
     }
}

.about__statistics{
margin-top: 30px;
}

.stat-item{
text-align: center;
margin-bottom: 10px;
// margin-top: 10px


}

.stat-item:not(:last-child):after {
    content: ' ';
    display:block;
    // text-align: center;
    margin: 10px auto 0 auto;
    height: 5px;
    width: 5px;
    // height: 100%;
    // border: 1px solid $accent-background-color;
    background-color: $accent-background-color;
}

.stat-number{
font-family:$title-font;
       font-weight: 700;
       font-size: 36px;
    line-height: .86
}

.stat-text{
    text-transform: uppercase;
        color: $accent-background-color;
        font-family: $main-font;
        font-size: 8px;
}

