.about{
    background-color: $secondary-background-color;
    padding: 40px;

     @media (min-width: 768px) {
             padding-left: 70px;
    padding-right: 70px;
     }
   
}
.about-news-block{
    display: flex;
    padding-left: 68px;
    padding-right: 68px;
    
}
// .block{
    
// }
.about-block{
    margin-right: 100px;
    width: calc((100% - 100px)*2/3);
    // flex-shrink: 1;

}
.accent-title{
    text-transform: uppercase;
    color:$accent-background-color;
    font-family: $main-font;
    font-size: 8px;
    font-weight: 400;
}

.about__title{
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1;
}
.about__text-item{
    margin-top: 20px;
}
.read-more{
    display: flex;
    // justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
text-transform: uppercase;
    color: $accent-background-color;
    font-family: $main-font;
    font-size: 8px;
    font-weight: 400;
    padding: 0;
        border: none;
        background-color: transparent;
cursor: pointer;

    // переписать медиаправило через JS 
    @media (min-width: 768px) {
            display: none}

     &:hover,
     &:focus{
     font-weight: 700;
     }
}

.news{
    display: none;
       @media (min-width: 1024px) {
            display: flex;
         width: calc((100% - 100px)/3);}
}


.about__statistics{
margin-top: 30px;
 @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
    //     padding-left: 30px;
    // padding-right: 30px;
}
 @media (min-width: 1024px) {
   padding-left: 68px;
    padding-right: 68px;
margin-top: 60px;}
}

.stat-item{
text-align: center;
margin-bottom: 10px;
// margin-top: 10px


}

.stat-item:after {
        content: ' ';
    display:block;
    margin: 10px auto 0 auto;
    height: 5px;
    width: 5px;
    background-color: $accent-background-color;
}

   .stat-item:last-child:after{
      @media (max-width: 767px) {
     display: none;
    }       
    
        }
.stat-number{
font-family:$title-font;
       font-weight: 700;
       font-size: 36px;
    line-height: .86
}

.stat-text{
    text-transform: uppercase;
        color: $accent-background-color;
        font-family: $main-font;
        font-size: 8px;
}

