.footer{background-color: $primary-background-color;

}
.footer__subscribe{

    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
     padding-left: 20px;
    height:110px;
  
    background-color: $accent-background-color;

   
}
.subscribe__form{
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    }

.subscribe__field{ 
min-width:215px;

    height: 40px;
    // padding:0;
     padding-left: 5px;
    border: none;
    background-color: $secondary-background-color;

    @media (min-width: 768px) {
       width:65vw; 
    }

    
       @media (min-width: 1440px) {
          width:75vw;
       }

   &:focus{
             border-radius: 0;
             border:1px solid $accent-background-color;
              background-color: $light-background-color;
    }

    &::placeholder{
        padding-left: 5px;
          text-transform: uppercase;
          font-size: 8px;
          letter-spacing: 2.76px;
          
    }}
.subscribe__button{

     padding:0;
    border: none;
       height: 40px;
       width:75px;
    background-color: $primary-background-color;
    color:$light-text-color;
    text-transform: uppercase;
    font-size: 8px;
          letter-spacing: 2.76px;
          cursor: pointer;

          &:hover,
&:focus{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
}

.footer__references{
   margin-right: 20px;
    margin-left: 20px;
    background-color: $primary-background-color;
    height: 40px;
        color:$light-text-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.refs__list{
    display: flex
}
.refs__items,
.refs__items a,
.powered{
    display: block;
      text-transform: uppercase;
    font-size: 7px;
    color:$light-text-color;
letter-spacing: 2.76px;
}


.refs__items:not(:last-child) {
  margin-right: 10px}

  .powered{
       font-size: 5px;
       text-align: right;
  }