.header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    margin-bottom: 500px;
 }

@media screen and (min-width: 768px) {
    .header {
    height: 65px;
    }
}

// logo
.logo-background{
    position: relative;
    height: 64px;
    width: 182px;
    background-color: $accent-background-color;

}
.logo{
position: absolute;
left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

// mobile menu
.menu-container {
    position: fixed;
    z-index: 80;
    top: 0;
    left: 0;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;

    padding: 48px 40px;
    background-color: $dark-background-color;
    opacity: 0.5;

    transform: translateX(100%);
    transition: transform 0.3 cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-toggle {
    position: absolute;
    top: 4px;
    right: 10px;
    padding:0;
    background-color: $primary-background-color;
    fill: $light-background-color;
    border: none;
    transition: fill 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
        fill: $secondary-background-color;
    }
}

.menu-toggle {
    @media (min-width: 768px) {
        display: none;
    }
}

