.header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: $primary-background-color;
  
 }

@media screen and (min-width: 768px) {
    .header {
    height: 65px;
    }
}

// logo
.logo-background{
    position: relative;
    height: 64px;
    width: 182px;
    background-color: $accent-background-color;
    z-index: 5;

}
.logo{
position: absolute;
left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

