.header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: $primary-background-color;
  
 }

@media screen and (min-width: 768px) {
    .header {
    height: 50px;
    }
}

// logo
.logo-background{
    position: relative;
    height: 64px;
    width: 182px;
    background-color: $accent-background-color;
    z-index: 5;
@media (min-width: 768px) {
     width: 235px;
     height: 100px;
}
 @media (min-width: 1440px) {
    width: 326px;
    height: 136px;
 }
}
.logo{
position: absolute;
left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
@media (min-width: 768px) {
    width: 150px;
    height: auto;
}
 @media (min-width: 1440px) {
    width: 190px;
 height: auto;
;
 }
}

