.hero{
    // position:relative;
    //     background-color: $primary-background-color;
    //     width:100%;
    //       max-width: 1680px;
    //      margin: 0;

}

.hero__picture {
  max-width: 1600px;
  height: 230px;
 padding: 0;

  background-color: white;
  text-align: center;

  background-image: url('../images/hero/hero-mobile-2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero-mobile-2x.jpg');
  }

  @media (min-width: 768px) {
       padding: 0;
    height: 340px;
    // background-image:url('../images/hero/hero-tablet.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-tablet-2x.jpg');
    }
  }

  @media (min-width: 1024px) {
    padding: 0;
    height: 591px;
    // background-image: url('../images/hero/hero-desktop.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-desktop-2x.jpg');
    }
  }
}


// .hero__picture{
//     display: block;
//         //  max-width: 1600px;
//          height: 100%;
//          width: 100%;
// //   max-height: 463px;
//    text-align: center;
//   background-size: cover;




// background-color: $accent-background-color;
//     background-image: url('../images/hero/hero-mobile-2x.jpg');
// background-repeat: no-repeat;
// // height: 150px;
// // width: 248px;

//  @media (min-width: 768px) {
//     // background-image:  url('../images/hero/gallery-1-mobile-2x.jpg');
// width: 100%;
// height: 550px;
  
// }}


.socmedia{
    background-color: $secondary-background-color;
    height:30px;
    width: 100%;
    padding-top: 5px;
  }

.decorative-block{
height: 80px;
    width: 180px;
    background-color: $accent-background-color;
    position: absolute;
    bottom:0;
    right: 20
}


.icons-list{
    display: flex;
justify-content: space-around;
  @media (min-width: 768px){
        display: none;
    }

}

.icons__item{
    vertical-align: middle;
}
.icon-svg{
height: 20px;
    width: 20px;
  vertical-align: middle;}

.socmedia__list{
    display: flex;
    letter-spacing: 2.97px;
    @media (max-width: 767px){
        display: none;
    }
}
.socmedia__item{
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
    color:$dark-text-color;
    &:first-child{
margin-left: 5px;
    }
}