.backdrop{
   position: fixed;
   top:0;
   left: 0;
    // background-color: $dark-background-color;
     background-color:   rgba(0, 0, 0, 0.2);;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

 width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal{
     position: absolute;
        z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
     padding: 40px;
        background-color: $secondary-background-color;
       box-shadow: 0 15px 10px $accent-background-color;
 opacity: 1;
           @media (min-width: 480px) {
      width: 380px;
      height: 300px;
    }
    @media (min-width: 768px) {
      width: 450px;
      height: 350px;
    }
    @media (min-width: 1440px) {
      width: 1028px;
      height: 400px;
    }
}


.js-close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    // background-color: $primary-background-color;
    fill: $accent-background-color;
    border: none;
    transition: fill 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
        fill: $secondary-background-color;
    }
}
.services-all{
     position: relative;
  display: block;
  text-align: center;
    background-color:red
}