.projects{
    background-color: $secondary-background-color;
    padding-top: 35px;
    
   }

.projects__list{
    // display:flex;
    // flex-wrap: wrap;
    display: block;
    text-align: center;
    margin-bottom: 35px;
}
.projects__item{
    fill:$dark-text-color;
    
}

.projects__item:not(:last-child){
    margin-bottom: 10px;
}
.projects__item:not(:last-child):after {
    content: ' ';
    display:block;
    // text-align: center;
    margin: 10px auto 0 auto;
    height: 5px;
    width: 5px;
    // height: 100%;
    // border: 1px solid $accent-background-color;
    background-color: $accent-background-color;
}

.dark-logo{
    background-color: $dark-background-color;
    height: 64px;

   display: flex; 
//    justify-content: flex-end;
//    align-content: flex-end;
//      vertical-align: bottom;
//  display: block;
    }

//     .span{
//          display: block;
// //    vertical-align: bottom;
//    color:white;
//    margin-top:auto;
//    margin-bottom: 0;
//        margin-left: 20px;
//     //    align-content: flex-end;
//     }
    .dark-logo__img{
//     width: 80px;
//     height: 21px;
    margin-left: 20px;
   margin-top:auto;
   margin-bottom: 20px;

    }


