.projects{
    background-color: $secondary-background-color;
    padding-top: 35px;
    padding-bottom: 35px;
}

.projects__list{
    // display:flex;
    // flex-wrap: wrap;
    display: block;
    text-align: center;
}
.projects__item{
    fill:$dark-text-color;
    
}

.projects__item:not(:last-child){
    margin-bottom: 10px;
}
.projects__item:not(:last-child):after {
    content: ' ';
    display:block;
    // text-align: center;
    margin: 10px auto 0 auto;
    height: 5px;
    width: 5px;
    // height: 100%;
    // border: 1px solid $accent-background-color;
    background-color: $accent-background-color;
}