.services{
    padding-top:35px;
    background-color: $light-background-color;
    text-align: center;
}

.servises__list{
   display: flex;
    flex-wrap: wrap;
     justify-content: center;
}
.list-item{
    
     margin-bottom: 30px;
     width: 295px;
}
.services-header{
    display:flex;
    justify-content: center;
    margin-bottom: 18px;
}
.services__title{
    font-size: 26px;
    font-weight: 700;
     line-height: 1.2;
     margin-bottom: 30px;
}

.item-title{
    margin-left: 17px;
}