@import './utils/variables';
@import './utils/general';
@import './common';
@import './header';
@import './mobile-menu';
@import './hero';
@import './about';
@import './gallery';
@import './services';
@import './projets';
@import './footer';