html {
    scroll-behavior: smooth;
}

body {

    color: $light-text-color;
    background-color: $primary-background-color;
font-family:$main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.46;
    // letter-spacing: ;
}

h1,
h2,
h3,
h4
{font-family:$title-font;
margin: 0;}

p {
    margin: 0;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;}


.container {

    min-width: 320px;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background-color: red;

    @media (min-width: 768px) {
        min-width: 768px;
            padding-left: 70px;
            padding-right: 70px;
            background-color: green;
        }
 @media (min-width: 1024px) {
min-width: 1024px;
    background-color: lightblue;

}}

.is-hidden {
    display: none
}

// .visually-hidden {
//     position: absolute;
//     clip: rect(0 0 0 0);
//     width: 1px;
//     height: 1px;
//     margin: -1px;
// }