<div class="container about" id="about-us">
  <h4 class="accent-title">About us</h4>
  <h2 class="about__title">
    It’s our job to make your home feel like it belongs to you
  </h2>
  <p class="about__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula,
    libero vel egestas fringilla, purus sit amet ante vel odio condimentum
    tortor.
  </p>

  <!-- добавить кнопку Развернуть для мобилки -->
  <button type="button" class="read-more">Read more >></button>

  <p class="about__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a risus
    ac mauris cursus tempor at sit amet orci. Suspendisse vel laoreet mauris.
    Donec sit amet ante vel odio condimentum lobortis in nec ex. Curabitur
    varius iaculis vehicula. Vestibulum quis venenatis lorem at, suscipit vel
    mauris purus.
  </p>
</div>
