<div class="container footer">
  <div class="footer__subscribe">
    <form class="subscribe__form">
      <!-- <label for="email"></label> -->
      <input
        class="subscribe__field"
        type="email"
        id="email"
        name="email"
        placeholder="Newsletter (enter email)"
      />
      <button type="submit" class="subscribe__button">subscribe</button>
    </form>
  </div>
</div>
<div class="footer__references container">
  <ul class="refs__list">
    <li class="refs__items">licensing<a href="https://google.com"></a></li>
    <li class="refs__items">styles<a href="https://google.com"></a></li>
    <li class="refs__items">changelog<a href="https://google.com"></a></li>
  </ul>
  <a class="powered" href="https://github.com/dariaddz">powered by dariaddz</a>
</div>
