<div
  id="gallery"
  class="container gallery"
  aria-label="architecture agency gallery"
>
  <ul class="gallery__carousel">
    <li class="gallery__item">
      <img
        class="gallery__image"
        src="./images/gallery/gallery-1-mobile-2x.jpg"
        alt="House living room"
      />
      <span class="lable">New</span>
      <h3 class="gallery__item-title">House Living Room</h3>
      <p class="gallery__item-category">Interior Design</p>
    </li>
    <li class="gallery__item">
      <img
        src="./images/gallery/gallery-2-mobile-2x.jpg"
        alt="Ocean view house"
      />
      <span class="lable">New</span>
      <h3 class="gallery__item-title">Ocean View House</h3>
      <p class="gallery__item-category">Architecture</p>
    </li>
    <li class="gallery__item">
      <img
        src="./images/gallery/gallery-3-mobile-2x.jpg"
        alt="House dining area"
      />
      <span class="lable">New</span>
      <h3 class="gallery__item-title">House Dining Area</h3>
      <p class="gallery__item-category">Interior Design</p>
    </li>
  </ul>
  <span class="square"></span>
</div>
