<div
  id="gallery"
  class="container gallery"
  aria-label="architecture agency gallery"
>
  <ul class="gallery__carousel">
    <li class="gallery__item">
      <img
        src="./images/gallery/gallery-1-mobile-2x.jpg"
        alt="House living room"
      />
      <span class="lable">New</span>
    </li>
    <li class="gallery__item">
      <img
        src="./images/gallery/gallery-2-mobile-2x.jpg"
        alt="Ocean view house"
      />
      <span class="lable">New</span>
    </li>
    <li class="gallery__item">
      <img
        src="./images/gallery/gallery-3-mobile-2x.jpg"
        alt="House dining area"
      />
      <span class="lable">New</span>
    </li>
  </ul>
</div>
