<div class="container header">
  <div class="logo-background">
    <img class="logo" width="131" height="34"
      srcset="./images/logo/logo-small-2x.png" >
  </img>
   
  </div>
<ul class="mobile-navigation">
      <li class="mobile-navigation__item">
        <a class="mobile-navigation__link" href="#hero">Home</a>
      </li>
      <li class="mobile-navigation__item">
        <a class="mobile-navigation__link" href="#about-us">About</a>
      </li>
      <li class="mobile-navigation__item">
        <a class="mobile-navigation__link" href="#services">Services</a>
      </li>
      <li class="mobile-navigation__item">
        <a class="mobile-navigation__link" href="#projects">Projects</a>
      </li>

      <!-- переписать на отрытие мобильного окна -->
      <li class="mobile-navigation__item">
        <a class="mobile-navigation__link" href="#projects">News</a>
      </li>
      <li class="mobile-navigation__item">
        <a class="mobile-navigation__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  <!-- burger button -->
  <button
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="menu-svg">
      <use href="./images/symbol-defs.svg#icon-menu_24px"></use>
    </svg>
  </button>
</div>
