<div class="container hero" id="hero">
  <div class="hero__picture"></div>
  <div class="socmedia">
    <ul class="icons-list">
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-pinterest2"></use>
        </svg>
      </li>
    </ul>

    <ul class="socmedia__list">
      <li class="socmedia__item">
        <a class="socmedia__link" href="https://facebook.com" target="_blank"
          >Facebook</a
        >
      </li>

      <li class="socmedia__item">
        <a class="socmedia__link" href="https://twitter.com/" target="_blank"
          >Twitter</a
        >
      </li>
      <li class="socmedia__item">
        <a class="socmedia__link" href="https://instagram.com" target="_blank"
          >Instagram</a
        >
      </li>
      <li class="socmedia__item">
        <a class="socmedia__link" href="https://pinterest.com" target="_blank"
          >Pinterest</a
        >
      </li>
    </ul>
  </div>
  <!-- <div class="decorative-block"></div> -->
</div>
