<div class="container hero" id="hero">
  <div class="hero__picture"></div>
  <div class="socmedia">
    <ul class="icons-list">
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="icons__item">
        <svg class="icon-svg" width="20" heigh="20" fill="#000">
          <use href="./images/hero/soc-media.svg#icon-pinterest2"></use>
        </svg>
      </li>
    </ul>

    <ul class="socmedia__list">
      <li class="socmedia__item">Facebook</li>
      <li class="socmedia__item">Twitter</li>
      <li class="socmedia__item">Instagram</li>
      <li class="socmedia__item">Pinterest</li>
    </ul>
  </div>
  <!-- <div class="decorative-block"></div> -->
</div>
