<!-- меню мобилка -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <nav class="top-line-mobile">
    <button class="menu-toggle js-close-menu is-hidden" aria-expanded="true">
      <svg width="17" height="17">
        <use href="./images/symbol-defs.svg#icon-close_24px"></use>
      </svg>
    </button>

    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__link" href="#hero">Home</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#about-us">About</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#services">Services</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#projects">Projects</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#about-us">News</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- <div class="contacts-socmedia">
    <ul class="header-contacts">
      <li class="header-contacts__item">
        <a
          class="header-contacts__link header-contacts__link--email"
          href="mailto:info@devstudio.com"
        >
          <svg class="header-contacts__icon" width="16" height="12">
            <use href="./images/symbol-defs.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com</a
        >
      </li>
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="tel:+380961111111">
          <svg class="header-contacts__icon" width="10" height="16">
            <use href="./images/symbol-defs.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
    <ul class="menu__socmedia">
      <li class="menu__item"><a class="menu__link" href="">Instagram</a></li>
      <li class="menu__item"><a class="menu__link" href="">Twitter</a></li>
      <li class="menu__item"><a class="menu__link" href="">Facebook</a></li>
      <li class="menu__item"><a class="menu__link" href="">LinkedIn</a></li>
    </ul>
  </div> -->
</div>
