<div class="container projects" id="projects">
  <ul class="projects__list">
    <li class="projects__item">
      <svg width="153" height="38">
        <use href="./images/projects/projects.svg#icon-project-1"></use>
      </svg>
    </li>
    <li class="projects__item">
      <svg width="153" height="38">
        <use href="./images/projects/projects.svg#icon-project-2"></use>
      </svg>
    </li>
    <li class="projects__item">
      <svg width="153" height="38">
        <use href="./images/projects/projects.svg#icon-project-3"></use>
      </svg>
    </li>
    <li class="projects__item">
      <svg width="153" height="38">
        <use href="./images/projects/projects.svg#icon-project-4"></use>
      </svg>
    </li>
    <li class="projects__item">
      <svg width="153" height="38">
        <use href="./images/projects/projects.svg#icon-project-5"></use>
      </svg>
    </li>
  </ul>
  <div class="dark-logo">
    <img class="dark-logo__img" width="80" height="21"
      srcset="./images/logo/logo-small-2x.png" >
  </img>
 
  </div>
</div>
