<ul class="services__list">
  <li class="list-item">
    <div class="services-header">
      <svg width="50" height="50" class="title-icon">
        <use href="./images/services/services.svg#icon-services-1"></use>
      </svg>
      <div class="item-title">
        <span class="title-number accent-title">01/06</span>
        <h4 class="title">Architecture</h4>
      </div>
    </div>
    <p class="item-description">
      Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim
      voluptas.
    </p>
  </li>

  <li class="list-item">
    <div class="services-header">
      <svg width="50" height="50" class="title-icon">
        <use href="./images/services/services.svg#icon-services-2"></use>
      </svg>
      <div class="item-title">
        <span class="title-number accent-title">02/06</span>
        <h4 class="title">Interior Design</h4>
      </div>
    </div>
    <p class="item-description">
      Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim
      voluptas.
    </p>
  </li>

  <li class="list-item">
    <div class="services-header">
      <svg width="50" height="50" class="title-icon">
        <use href="./images/services/services.svg#icon-services-3"></use>
      </svg>
      <div class="item-title">
        <span class="title-number accent-title">03/06</span>
        <h4 class="title">Master Planing</h4>
      </div>
    </div>
    <p class="item-description">
      Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim
      voluptas.
    </p>
  </li>

  <li class="list-item">
    <div class="services-header">
      <svg width="50" height="50" class="title-icon">
        <use href="./images/services/services.svg#icon-services-4"></use>
      </svg>
      <div class="item-title">
        <span class="title-number accent-title">04/06</span>
        <h4 class="title">Construction</h4>
      </div>
    </div>
    <p class="item-description">
      Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim
      voluptas.
    </p>
  </li>

  <li class="list-item">
    <div class="services-header">
      <svg width="50" height="50" class="title-icon">
        <use href="./images/services/services.svg#icon-services-5"></use>
      </svg>
      <div class="item-title">
        <span class="title-number accent-title">05/06</span>
        <h4 class="title">Energy Audit</h4>
      </div>
    </div>
    <p class="item-description">
      Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim
      voluptas.
    </p>
  </li>

  <li class="list-item">
    <div class="services-header">
      <svg width="50" height="50" class="title-icon">
        <use href="./images/services/services.svg#icon-services-6"></use>
      </svg>
      <div class="item-title">
        <span class="title-number accent-title">06/06</span>
        <h4 class="title">Documentation</h4>
      </div>
    </div>
    <p class="item-description">
      Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim
      voluptas.
    </p>
  </li>
</ul>
